@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*========================== Ganeral Styling ==========================*/
.first-title{
	margin:0 auto;
	display:table;
	margin-top:100px;
	margin-bottom:60px;
	text-align:center;
	}
.first-title h1{
	color:#fff;
	font-size:35px;
	font-weight:900;
	margin-bottom:5px;
}
.first-title p{
	color:#fff;
	font-size:20px;
	font-weight:300;
}
.main-content{
	width:1175px;
	margin:0 auto;
	margin:auto;
	margin-top:60px;
	display:table; /*This is to very important to center the div, And ther are many ways to center a div.*/
}

.section{margin-top:30px;}

.panel-1{
	background:#fff;
	width:570px;
	float:left;
	margin-right:35px;
	margin-bottom:20px;
	height:240px;
}

.panel-2{
	background:#fff;
	width:570px;
	height:240px;
	float:left;
}

.panel-1 img, .panel-2 img{
	width:123px;
	height:123px;
	float:left;
	margin-top:40px;
	margin-left:30px;
}

.panel-1 p, .panel-2 p{
	color:#8c8c8c;
	font-size:18px;
	text-align:left;
	margin:44px 18px 44px 183px;
	font-weight:300;
	line-height:20px;
	position:relative;
	
}
span.quote-1{
	font-size:50px;
	font-weight:bold;
	position:absolute;
	top:10px;
	left:-22px;
	
}
span.quote-2{
	font-size:50px;
	font-weight:900;
	position:absolute;
	bottom:-20px;
	right:35px;
}
.panel-1 a, .panel-2 a{
	text-align:center;
	color:#f6772c;
	text-decoration:none;
	margin-left:183px;
	text-transform: uppercase;
}

.job-title{
	color:#99a9ae;
	text-transform: uppercase;
}
